<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @url.link %>
</p>

<p>
  <strong>Hash val:</strong>
  <%= @url.hash_val %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
